mkdocs
mkdocs-material
mkdocs-gen-files
mkdocs-literate-nav
mkdocs-section-index
click
pyyaml
importlib-metadata
click
future
glob2
jinja2
joblib
livereload
lunr[languages]
markdown
markupsafe
mkdocs-autorefs
cached-property
mkdocs-literate-nav
mkdocs-material-extensions
mkdocstrings
nltk
pygments
pymdown-extensions
pytkdocs
regex
six
tornado
